<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <section class="container">
      <h1 align="center">TODO APP</h1>
      <form action="/create-task" method="POST">
        <table class="table">
          <thead>
            <tr class="table-active">
              <th>Add Task</th>
              <th>Category</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <label>
                  <input
                    type="text"
                    name="description"
                    placeholder="What do you need to do?"
                    required
                  />
                </label>
              </td>
              <td>
                <label>
                  <select name="category" required>
                    <option>PERSONAL</option>
                    <option>WORK</option>
                    <option>SCHOOL</option>
                    <option>CLEANING</option>
                    <option>OTHER</option>
                  </select>
                </label>
              </td>
              <td>
                <label>
                  <input type="date" name="date" required />
                </label>
              </td>
              <td>
                <input
                  type="submit"
                  class="btn btn-success"
                  id="add"
                  value="ADD TASK"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </section>
    <div>
      <h1 align="center">TASKS LIST</h1>
      <form action="/delete-task" method="GET">
        <table class="table">
          <thead>
            <tr>
              <th>Select</th>
              <th>Task</th>
              <th>Category</th>
              <th>Due Date</th>
            </tr>
          </thead>
          <% for(let i of task) { %>
          <tr>
            <td>
              <label>
                <input type="checkbox" name="<%= i._id %>" />
              </label>
            </td>
            <td>
              <p id="task-description"><%= i.description %></p>
            </td>
            <td>
              <p id="task-category"><%= i.category %></p>
            </td>
            <td>
              <p id="due-date"><%= i.date %></p>
            </td>
          </tr>
          <% } %>
        </table>
        <div align="center">
          <input type="submit" class="btn btn-danger" value="DELETE TASK" />
        </div>
      </form>
    </div>
  </body>
</html>
